@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Open Sans", "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

button {
  cursor: pointer;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2.6rem;
  }
}

:is(h1, h2, h3, h4, h5, h6) {
  font-family: Poppins !important;
  line-height: 1.2;
  color: #ba3e1c;
}

nav .nav-link {
  font-family: Poppins !important;
  border-bottom: 3px solid transparent;
}

nav .nav-link:hover {
  color: #e75932 !important;
}

nav .nav-link.active {
  border-bottom: 3px solid #e75932;
  color: #e75932 !important;
}

nav #brand-text {
  font-family: Poppins;
  font-style: italic;
  font-size: 2rem;
  color: #e75932 !important;
}

nav .my-btn-outline:not(:hover) {
  background-color: rgba(255, 255, 255, 0.5) !important;
}

@media (max-width: 768px) {
  nav #header-nav {
    text-align: center;
  }
  nav .my-btn-outline {
    width: 100%;
    display: block;
    text-align: center;
  }
}

canvas {
  display: block;
  position: absolute !important;
  cursor: pointer;
}

.card {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 1em;
  padding: 2em !important;
  position: absolute;
  width: 560px;
  top: 25%;
  left: 10%;
}

@media (max-width: 768px) {
  .card {
    width: 80%;
    left: 10%;
  }
}

@media (max-width: 568px) {
  .card {
    width: 100%;
    left: 0%;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.icon-scroll,
.icon-scroll:before {
  z-index: 5;
  position: absolute;
  left: 50%;
}

.icon-scroll {
  width: 40px;
  height: 70px;
  margin-left: -20px;
  top: 90%;
  margin-top: -35px;
  -webkit-box-shadow: inset 0 0 0 2px #e75932;
          box-shadow: inset 0 0 0 2px #e75932;
  background: rgba(255, 255, 255, 0.75);
  border-radius: 25px;
}

.icon-scroll:before {
  content: "";
  width: 8px;
  height: 11px;
  background: #e75932;
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
          animation-name: scroll;
}

@-webkit-keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(46px);
            transform: translateY(46px);
  }
}

@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(46px);
            transform: translateY(46px);
  }
}

.my-btn-outline {
  color: #e75932;
  border-radius: 5px;
  border: 2px solid #e75932;
  background-color: white;
  font-size: 1.2em;
  padding: 0.4rem 0.8rem 0.4rem 0.8rem;
  -webkit-box-shadow: 0 0 1px rgba(231, 89, 50, 0.25);
          box-shadow: 0 0 1px rgba(231, 89, 50, 0.25);
  cursor: pointer;
  text-decoration: none;
}

.my-btn-outline:hover {
  background-color: #e75932;
  color: white;
}

.my-btn-outline-dark {
  color: #ba3e1c;
  border-radius: 5px;
  border: 2px solid #ba3e1c;
  background-color: white;
  font-size: 1.2em;
  padding: 0.4rem 0.8rem 0.4rem 0.8rem;
  -webkit-box-shadow: 0 0 1px rgba(186, 62, 28, 0.25);
          box-shadow: 0 0 1px rgba(186, 62, 28, 0.25);
  cursor: pointer;
  text-decoration: none;
}

.my-btn-outline-dark:hover {
  background-color: #ba3e1c;
  color: white;
}

.btn-call-to-action {
  border-radius: 0.5rem;
  background-color: #e75932;
  border: none;
  color: #ffffff;
}

.btn-call-to-action:hover {
  color: #ffffff;
  background-color: #ba3e1c;
  text-shadow: 0px 0px 6px white;
  box-shadow: 0px 5px 40px -10px rgba(231, 89, 50, 0.57);
  -webkit-box-shadow: 0px 5px 40px -10px rgba(231, 89, 50, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(231, 89, 50, 0.57);
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

#resume-btn:hover {
  text-shadow: 0px 0px 6px white;
  box-shadow: 0px 5px 40px -10px rgba(231, 89, 50, 0.57);
  -webkit-box-shadow: 0px 5px 40px -10px rgba(231, 89, 50, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(231, 89, 50, 0.57);
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

#home {
  background: white;
}

#home .card #i-am {
  color: #e75932;
}

#about {
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(#e75932), to(#ba3e1c));
  background: linear-gradient(#e75932, #ba3e1c);
}

#about #about_card {
  background-color: #ba3e1c;
  border-radius: 10px;
}

#transition-block {
  display: block;
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 1%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(#e75932));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #e75932 100%);
}

#transition-block-out {
  display: block;
  width: 100%;
  height: 10px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ba3e1c), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(180deg, #ba3e1c 0%, rgba(255, 255, 255, 0) 100%);
}

#skills {
  height: 100%;
}

@media (min-width: 768px) {
  #skills #skills_hive {
    width: 66%;
  }
}

#projects {
  height: 100vh;
}

#contact {
  height: 101vh;
  background: -webkit-gradient(linear, left top, left bottom, from(#e75932), to(#ba3e1c));
  background: linear-gradient(#e75932, #ba3e1c);
}
/*# sourceMappingURL=styles.css.map */